---
interface Props {
  title?: string;
  body?: string;
}

const { title, body } = Astro.props;
---

<>
  {title && (
      <h2 class="text-xl font-bold m-0 z-20 text-[#bd93f9] tracking-wide mb-1 text-[clamp(1rem,5vw+1rem,2rem)]">
        &gt; {title}<span class="blinking-cursor">_</span>
      </h2>
  )}
  {body && (
      <p class="m-0 font-light text-base text-[#f8f8f2] mb-2 text-[clamp(0.875rem,3vw+0.75rem,1.125rem)]">
        {body}
      </p>
  )}
  <slot />
</>

<style>
  .blinking-cursor {
    display: inline-block;
    width: 0.75ch;
    color: #aaffcc;
    animation: blink 1s step-start infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
</style>
