---
import Card from "./Card/index.astro";
---

<style>
  .about-me-text {
    color: #f8f8f2; /* Foreground Color */
  }

  .about-me-list {
    color: #6272a4; /* Comment Color */
  }

  .about-me-title {
    color: #ff79c6; /* Pink Color */
  }
</style>

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me" class="about-me-title">
  <div class="flex flex-col gap-2 about-me-text">
    <div class="text-sm font-light">
      <p>
        Hello! My name is Jordan. I am a Software Developer currently enrolled full-time at Full Sail.
        <br />
        My current skill set includes:
      </p>
      <ul class="list-disc list-inside about-me-list">
        <li>Java</li>
        <li>Lua</li>
        <li>C++</li>
        <li>Astro (Learning)</li>
        <li>GDScript (Learning)</li>
        <li>Unreal Visual Scripting (Learning)</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about design, illustration, 3D modeling, and cars.
      An unusual hobby of mine is collecting old flagship phones; they're
      interesting pieces of a time that, in my opinion, is long gone.
    </p>
    <p class="text-sm font-light">
      While I have my current skill set, I am always willing to learn to achieve whatever my task or goal may be. My goal is to find the right
      solution for each project or product I work on.
    </p>
  </div>
</Card>
