---
import Card from "./Card/index.astro";
---

<style>
  .about-me-text {
    color: #cad3f5; /* Text */
  }

  .about-me-list {
    color: #a5adcb; /* Subtext0 */
  }

  .about-me-title {
    color: #f5bde6; /* Pink */
  }
</style>

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me" class="about-me-title">
  <div class="flex flex-col gap-2 about-me-text">
    <div class="text-sm font-light">
      <p>
        Hello! My Name is Jordan, I am A Software Developer; Enrolled Full-Time at Full Sail.
        <br />
        My current Skillset includes:
      </p>
      <ul class="list-disc list-inside about-me-list">
        <li>Java</li>
        <li>Lua</li>
        <li>C++</li>
        <li>Astro(Learning)</li>
        <li>GDScript(Learning)</li>
        <li>Unreal Visual Scripting(Learning)</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about design, illustration, 3D modelling, and Cars.
      An unusual hobby of mine is collecting Old Flagship Phones, they're
      interesting pieces of a time that imo is long gone.
    </p>
    <p class="text-sm font-light">
      While I have my current skillset, I always am willing to learn to achieve whatever my task or goal may be. My goal is to find the right
      solution for each project or product I work on.
    </p>
  </div>
</Card>

