---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from 'astro-icon/components';
import Tooltip from "./Tooltip/index";
import { Image } from "astro:assets";
---

<style>
  .welcome-text {
    color: #f8f8f2; /* Foreground */
  }

  .intro-text {
    color: #f8f8f2; /* Rosewater */
  }

  .bold-text {
    color: #bd93f9; /* Purple */
  }

  .button-icon {
    color: #f8f8f2; /* Rosewater */
  }

  .button:hover .button-icon {
    color: #FF79C6; /* Purple */
  }

  .card-background {
    background-color: #282a36; /* Background */
  }

  .card-border {
    border-color: #44475a; /* Current Line */
  }
</style>

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
        <h6 class="welcome-text text-sm font-light m-0">welcome</h6>
        <p class="intro-text m-0 font-light text-xl">
          Hello👋, I'm <b class="bold-text font-bold">Jordan N. Pryor</b>, a Developer with expertise in game development, game engine creation, and software design. I specialize in crafting innovative solutions that deliver engaging and immersive experiences.
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Icon name="ri:github-fill" class="h-6 button-icon" />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkedin profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Icon name="ri:linkedin-box-fill" class="h-6 button-icon" />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <Tooltip client:visible>
          <Button aria-label="easter egg btn">
            <Icon name="ri:emotion-laugh-line" class="h-6 button-icon" />
            <span class="sr-only">Easter egg button</span>
          </Button>
        </Tooltip>
      </div>
    </div>
    <Image
      width="300"
      height="300"
      src="/me.webp"
      class="w-auto max-h-[300px] select-none absolute right-[-110px] bottom-[-20px] z-[-1] opacity-50 md:opacity-100 md:relative md:right-auto md:bottom-auto md:z-auto pointer-events-none"
      alt="memoji of jordan"
    />
  </div>
</Card>
