---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<style>
  .card-title {
    color: #f8f8f2; /* Foreground */
  }

  .card-subtitle {
    color: #6272a4; /* Comment */
  }

  .card-text {
    color: #f5bde6; /* Pink */
  }
</style>

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2 class="card-title">Now</h2>
      <a href="https://sive.rs/nowff" target="_blank">
        <span class="card-subtitle text-xs cursor-pointer">what's that ?</span>
      </a>
    </div>
    <Pulse />
  </div>
  <p class="card-text text-xs">Currently working as freelancer</p>
</Card>
