<span class="relative flex h-3 w-3">
  <span
      class="animate-ping absolute inline-flex h-full w-full rounded-full"
      style="background-color: #a6da95; opacity: 0.75;" <!-- Green -->
  ></span>
<span class="relative inline-flex rounded-full h-3 w-3" style="background-color: #a6da95;"> <!-- Green -->
  </span>
</span>
